body {
    font-family: Script MT, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}

main {
    display: flex;
}

article {
    min-width: 100vw;
    /* overflow-y: hidden; */
    height: 100vh;
    display: flex;
}

button {
    font-family: Script MT, Helvetica, sans-serif;
    border-radius: 3px;
    background-color: inherit;
    color: inherit;
    border: 3px white double;
    font-size: xx-large;
    position: relative;
    left: inherit;
}

button:hover {
    color: rgb(150, 10, 10);
}

fieldset {
    font-size: 20px;
    border: 3px white solid;
    margin: 5%;
}

/* Home */

.welcome {
    text-align: center;
    font-size: 30px;
    position: relative;
    margin : 0 auto 0 auto;
}

.ble {
    font-size: 50px;
}

.quiz {
    font-size: 40px;
}

@media all and (max-width: 554px) {
    .welcome {
        text-align: center;
        font-size: 40px;
    }
    
    .ble {
        font-size: 50px;
    }
    
    .quiz {
        font-size: 35px;
    }
}

#imageContainer {
    position: relative;
    margin: 60px 0;
}
#pic1{
    /* position: absolute; */
}

#pic1, #pic2 {
    height: 300px;
}

#pic2{
    position: absolute;
    z-index: 2;
    transition: opacity, 1s ease-in 1ms;
    cursor: pointer;
    right: 50%;
    transform: translateX(50%);
}

#pic2:hover {
    opacity: 0;
}

#home {
    min-width: 100vw;
    text-align: center;
    margin-top: 26.8px;
}

/* Questions */

.question {
    font-size: 30px;
}
.rep {
    /* margin-left: 500px; */
}
.touchRep:hover {
    color: rgb(150, 10, 10);
}
.toNextForm {
    font-family: Script MT, Arial, Helvetica, sans-serif;
    background-color: black;
    border: 3px white double;
    display: flex;
    margin: 26.8px auto 0 auto;
    font-size: x-large;
}

.toNextForm:hover {
    color: rgb(150, 10, 10);
}

.bcgPB {

}
.bcgPB, #toEnd {
    background: black url("../Logo/logofond.png") fixed no-repeat center; 
}

/* Fin */

.centre {
    text-align: center;
}

#seeyou {
    display: flex;
    margin: auto;
}

#date {
    font-size: 60px;
}



.gifBack {
    position: absolute;
    width: 150px;
    height: 75px;
    z-index: 1;
    opacity: 0;
}

.gifBack:hover {
    opacity: 1;
}

.transitionGif {
    transition: opacity, width, height, 1s linear 1ms;
    cursor: pointer;
}

.transitionGif:hover {
    opacity: 1;
    width: 300px;
    height: 150px;
}